@{
    ViewData["Title"] = "Hack AUBG";
}

<header>
    <div class="left-side">
        <h2>Want to teach?</h2>
        <p>We're working hard to finish the development of this site. Our target launch date is January 2019! Sign up for updates using the form below!</p>
    </div>

    <div class="right-side">
        <h2>Want to learn?</h2>
        <p>We're working hard to finish the development of this site. Our target launch date is January 2019! Sign up for updates using the form below!</p>
    </div>
</header>
