@{
    ViewData["Title"] = "Hack AUBG";
}

<header>
    <div class="left-side">
        <h1>Want to TEACH?</h1>
        <p>We're working hard to finish the development of this site. Our target launch date is January 2019! Sign up for updates using the form below!</p>
    </div>

    <div class="right-side">
        <h1>Want to LEARN?</h1>
        <p>We're working hard to finish the development of this site. Our target launch date is January 2019! Sign up for updates using the form below!</p>
    </div>
    
    <button id="main-page-button">
        <a href="../Views/Account/Register.cshtml">Get Started</a>
    </button>
</header>

<main>
    <article>
        <i class="fas fa-users"></i>
        <h1>Here is the <span>TNT</span> team</h1>
    </article>
    <section class="team">
        <article>
            <h1><span>T</span></h1>
            <img src="images/tony.gif" />
        </article>
        <article>
            <h1><span>N</span></h1>
            <img src="images/tony.gif" />
        </article>
        <article>
            <h1><span>T</span></h1>
            <img src="images/tony.gif" />
        </article>
    </section>
</main>
