

body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

header {
    background: url(../images/header-back.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    width: 100%;
}

    header p {
        font-size: 16px;
    }

@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding: 0;
    }
}

.navbar {
    margin-bottom: 0 !important;
}

.left-side, .right-side {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    color: black;
    /* text-shadow: 1px 1px 1px #008DDF; */
    padding: 70px;
    padding-top: 7%;
    float: left;
    font-weight: bold;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    background: white;
    color: #9d9d9d;
    height: 35px;
    padding: 30px;
    padding-top: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

    footer:hover {
        color: #008DDF;
        cursor: pointer;
    }

/* 
Firepad code
*/
#firepad {
    height: 78vh;
}

a.powered-by-firepad {
    display: none;
}

#localVideo , #remoteVideos {
    width:100%;
    min-width:150px;
    object-fit:contain;
}

#main-page-button {
    background: #008DDF;
    padding: 6px;
    color: white;
    padding: 13px;
    margin-top: 10%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 12%;
    border-radius: 26px;
    border: none;
    font-size: 21px;
    font-weight: bold;
}

    #main-page-button a {
        color: white;
        text-decoration: none;
    }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: white !important;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: #008DDF;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #008DDF;
}

.navbar-inverse .navbar-nav > li > a {
    border: 1px solid rgba(0,0,0,.05);
    font-size: 15px;
    /*border-left: 1px solid rgba(0,0,0,.05);*/
}

main article {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

    main article img {
        border-radius: 50%;
        max-width: 400px;
        min-height: 400px;
        margin: 23px;
    }

.fa-users {
    color: #008ddf;
    font-size: 54px;
    padding-top: 37px;
}

main article h3 span {
    color: #008ddf;
}

.team {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

    .team article {
        width: 29%;
        margin: 40px;
        text-align: center;
    }

.team-images {
    border-radius: 50%;
}
