body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

header {
    background: url(../images/header-back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    width: 100%;
}

header p {
    font-size: 23px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding: 0;
    }
}

.navbar  {
    margin-bottom: 0 !important;
}

.left-side, .right-side {
    width: 36%;
    text-align: center;
    margin: 0 auto;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
    padding: 70px;
    padding-top: 11%;
}


.left-side {
    float: left;
}

.right-side {
    float: right;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
}

footer {   
    background: #222222;
    color: #9d9d9d;
    height: 35px;
    padding: 30px;
    padding-top: 14px;
}   



/* 
Firepad code
*/
#firepad {
    height:78vh;
}
a.powered-by-firepad {
    display: none;
}