@model TNTWebApp.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h1 id="create-course-header">CREATE COURSE</h1>

<hr />

<div class="overlay">
    <div class="row" id="course-sect">
        <div class="col-md-4">
            @using (Html.BeginForm("Create"))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(x => x.Subject)
                    @Html.EditorFor(x => x.Subject)
                    @Html.ValidationMessageFor(x => x.Subject)
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" id="spec-button" />
                </div>
            }
        </div>
    </div>

   
    <div> 
        <a asp-action="Index">Back to List</a> 
        <div id="spec-btn"> 
            <a asp-action="Index" id="back-to-courses-btn">Back to List</a> 
        </div> 
    </div>


    @section Scripts {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");

    }
</div>
