
@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>

    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/addon/selection/active-line.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/addon/edit/matchbrackets.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/theme/dracula.css" />

   
    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

    <script>
        function init() {
            // Initialize Firebase.
            // TODO: replace with your Firebase project configuration.
            var config = {
                apiKey: "AIzaSyCI4hzDSvmwviXtwdxlZJVtK9r9uWkU8lQ",
                authDomain: "hackaubg.firebaseapp.com",
                databaseURL: "https://hackaubg.firebaseio.com",
                projectId: "hackaubg",
                storageBucket: "",
                messagingSenderId: "199292717885"
            };
            firebase.initializeApp(config);

            // Get Firebase Database reference.
            var firepadRef = firebase.database().ref();

            // Create CodeMirror (with lineWrapping on).
            var codeMirror = CodeMirror(document.getElementById('firepad'), {
                lineWrapping: true,
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                theme:"dracula"
            });

            // Create Firepad (with rich text toolbar and shortcuts enabled).
            var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
                richTextShortcuts: true,
                richTextToolbar: false,
                defaultText: "alert('Hello, world!');"
            });
        }

        $(document).ready(function () {
            init();
        })
    </script>

}

<h2>Code Session</h2>

<div id="firepad"></div>