
@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/theme/dracula.css" />

    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <link href="~/css/firepad-users.css" rel="stylesheet" />
}

@section Scripts {
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>

    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/addon/selection/active-line.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/addon/edit/matchbrackets.js"></script>

    <!-- Firepad -->
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
    <script src="~/js/firepad-users.js"></script>

    <!-- WebRTC-->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://simplewebrtc.com/latest-v3.js"></script>


    <script>
        function init() {

            var userId = Math.floor(Math.random() * 9999999999).toString();
            var displayName;
            @if (User.Identity.IsAuthenticated) {
                @:userId = "@ViewData["userId"]";
                @:displayName = "@User.Identity.Name.Split('@')[0].Replace(".","-")";
            }

            // Initialize Firebase.
            // TODO: replace with your Firebase project configuration.
            var config = {
                apiKey: "AIzaSyCI4hzDSvmwviXtwdxlZJVtK9r9uWkU8lQ",
                authDomain: "hackaubg.firebaseapp.com",
                databaseURL: "https://hackaubg.firebaseio.com",
                projectId: "hackaubg",
                storageBucket: "",
                messagingSenderId: "199292717885"
            };

            firebase.initializeApp(config);

            // Get Firebase Database reference.
            var firepadRef = firebase.database().ref();

            // Create CodeMirror (with lineWrapping on).
            var codeMirror = CodeMirror(document.getElementById('firepad'), {
                lineWrapping: true,
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                theme: "dracula"
            });

            // Create Firepad (with rich text toolbar and shortcuts enabled).
            var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
                richTextShortcuts: true,
                richTextToolbar: false,
                defaultText: "alert('Hello, world!');",
                userId: userId
            });


            //// Create FirepadUserList (with our desired userId).
            var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
                document.getElementById('users'), userId, displayName);
            //// Initialize contents.
            firepad.on('ready', function () {
                if (firepad.isHistoryEmpty()) {
                    firepad.setText('Check out the user list to the left!');
                }
            });
        }
        $(document).ready(function () {
            $(".body-content").removeClass("container").addClass("container-fluid");
            init();
        })

        var webrtc;

        function joinConversation() {

            $("#conversation").removeClass("hidden");
            $("#joinConversation").addClass("hidden");
            webrtc = new SimpleWebRTC({
                // the id/element dom element that will hold "our" video
                localVideoEl: 'localVideo',
                // the id/element dom element that will hold remote videos
                remoteVideosEl: 'remotesVideos',
                // immediately ask for camera access
                autoRequestMedia: true
            });

            // we have to wait until it's ready
            webrtc.on('readyToCall', function () {
                // you can name it anything
                webrtc.joinRoom('room1');
            });
        }

    </script>

}

<div class="row">
    <div  class="col-lg-2 col-md-3 col-sm-3">
        <div id="users"></div>
        <hr />
        <button id="joinConversation" onclick="joinConversation()" class="btn btn-primary">Join Conversation</button>
        <div id="conversation" class="hidden">
            <video id="localVideo"></video>
            <div id="remotesVideos"></div> 
        </div>
    </div>
    <div id="firepad" class="col-lg-10 col-md-9 col-sm-9"></div>
</div>
