@{
//ViewData["Title"] = "Hack AUBG";
}

<header>
    <div class="overlay">
        
        <h3 class="home-sec">WANT TO LEARN / TEACH ?
        </h3>
        
        <h1 class="home-sec">
            FIND YOUR TRAINER OR <br/>
            BE TRAINER
        </h1>
        
        <span id="border-white"> </span>

        <button id="main-page-button">
            <a a asp-area="" asp-controller="Account" asp-action="Register">GET STARTED</a>
        </button>
    </div>
    
</header>

<main>
    <article>
        <i class="fas fa-users"></i>
        <h1>HERE IS IT <span>TNT</span> TEAM</h1>
    </article>
    <section class="team">
        <article>
            <h3><span>T</span>oni is young and enthusiastic student who wants to learn new things and to share her 
                knowledge with others.</h3>
            <img src="/content/images/tony.gif" class="team-images"/>
        </article>
        <article>
            <h3><span>N</span>iki is talented .NET developer who wants to share knowledge about technologies which he knows.</h3>
            <img src="/content/images/niki.jpg" class="team-images"/>
        </article>
        <article>
            <h3><span>T</span>isho is young junior developer who wants to skyrocket his skills and knowledge.</h3>
            <img src="/content/images/tishko.jpg" class="team-images"/>
        </article>
    </section>
</main>
