@{
//ViewData["Title"] = "Hack AUBG";
}

<header>
    <div class="overlay">
        <div class="left-side">
            <h1>Want to TEACH?</h1>
            <p>We're working hard to finish the development of this site. Our target launch date is January 2019! Sign up for updates using the form below!</p>
        </div>

        <div class="right-side">
            <h1>Want to LEARN?</h1>
            <p>We're working hard to finish the development of this site. Our target launch date is January 2019! Sign up for updates using the form below!</p>
        </div>

        <button id="main-page-button">
            <a a asp-area="" asp-controller="Account" asp-action="Register">Get Started</a>
        </button>
    </div>
    
</header>

<main>
    <article>
        <i class="fas fa-users"></i>
        <h1>Here is the <span>TNT</span> team</h1>
    </article>
    <section class="team">
        <article>
            <h3><span>T</span>oni is young and enthusiastic student who wants to learn new things and to share her 
                knowledge with others.</h3>
            <img src="/content/images/tony.gif" class="team-images"/>
        </article>
        <article>
            <h3><span>N</span>iki is talented .NET developer who wants to share knowledge about technologies which he knows.</h3>
            <img src="/content/images/niki.jpg" class="team-images"/>
        </article>
        <article>
            <h3><span>T</span>isho is young junior developer who wants to skyrocket his skills and knowledge.</h3>
            <img src="/content/images/tishko.jpg" class="team-images"/>
        </article>
    </section>
</main>
