@{
    //ViewData["Title"] = "Hack AUBG";
}

<header>
    <div class="overlay">

        <h3 class="home-sec">
            WANT TO LEARN / TEACH ?
        </h3>

        <h1 class="home-sec">
            FIND YOUR MENTOR OR <br />
            BE A MENTOR!
        </h1>

        <span id="border-white"> </span>
        @if (User.Identity.IsAuthenticated)
         {
               <button id="main-page-button">
                     @Html.ActionLink("Courses", "Index","Courses")
                </button>
         }
        else
        {
           <button id="main-page-button">
              @Html.ActionLink("GET STARTED", "Register", "Account")
          </button>
        }
    </div>

</header>

<main>
    <article>
        <i class="fas fa-users"></i>
        <h1>HERE IS THE <span>TNT</span> TEAM</h1>
    </article>
    <section class="team">
        <div class="overlay">
            <article>
                <h3>
                    Toni is young and enthusiastic student who wants to learn new things and share her
                    knowledge with others.
                </h3>
                <img src="/content/images/tony.gif" class="team-images" />
            </article>
            <article>
                <h3>Niki is talented .NET developer who wants to share his knowledge about technology.</h3>
                <img src="/content/images/niki.jpg" class="team-images" />
            </article>
            <article>
                <h3>Tisho is young junior developer who wants to skyrocket his skills and knowledge.</h3>
                <img src="/content/images/tishko.jpg" class="team-images" />
            </article>
        </div>
    </section>
</main>
